#oneDiv{
    height: 240px;
    width: 15%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    padding-left: 40px;
    margin-top: 60px;
}
h2{
  text-align: center;
  margin-top: -10px;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 13px;
  
}
#btn{
 margin-left: 30px;
 padding: 5px 40px 5px 40px;
 background-color: rgb(79, 110, 79);
 color: white;
}

/* navbar */

#cont{
  width: 80%;
  height: 50px;
  box-shadow: rgba(16, 16, 16, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(186, 177, 177);
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  background-color: blue;
}
#container{
 width: 35%;

 display: flex;
 justify-content: space-around;
 align-items: center;
}
a{
 text-decoration: none;
 color:black;
 font-size: 25px;
 font-weight: bold;
}

/* navbar end */